.layout-container {
  margin: 0 auto;
  height: 100vh;
  background: #6495ED;
}

nav .main-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 2px;
}

nav .main-menu li {
  list-style-type: none;
  /* margin: 0 4px; */
  padding: 8px;
}

a {
  text-decoration: none;
}

nav .sub-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  position: absolute;
  background: #27ae60;
}

nav .main-menu li:hover .sub-menu {
  display: flex;
}

/* Component */
.component-container {
  background: #2a2f2b;
  padding: 10px;
}